# Virtual environment
venv/

# Python
__pycache__/
*.pyc

# TensorFlow / Keras
*.h5
*.keras

# Large datasets
data.zip
raw_data/
dataset/

# Temporary files
*.tmp
*.temp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db