# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Python environment
.env

# OS files
.DS_Store
Thumbs.db

# DeepFace / model caches
.deepface/

# Temporary files
*.tmp
*.temp